.fundoCadastro {
    background-color: color-red-500; /* Cor de fundo caso a imagem não carregue */
    background-image: url("https://ik.imagekit.io/t10wpd1oka/produtos%20food%20ecommerce/imagem_cadastro_usuario.svg?updatedAt=1741283857496");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}
