.fundoLogin {
  background-image: url("https://ik.imagekit.io/3ov0fr7b9/usuarios/Order%20food-pana%201.png?updatedAt=1741186753061");
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  background-size: 60%;
  background-position: center;
  background-color: #ffc100;
}
