@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: var(--font-body);
  background-color: #F0F0F0;
}

@theme {
  /* Fonts */
  --font-heading: "Poppins", sans-serif;
  --font-logo: "Protest Riot", serif;
  --font-body: "Open Sans", serif;
  
  /* Button Font */
  --font-quicksand: "Quicksand", sans-serif;

  /* Colors */
  --color-beige-500: #F6EED9;
  --color-beige-600: #F5F5DC;
  --color-red-500: #CD533B;
  --color-olive-500: #646F4B;

  --color-red-100: #FF5656;

  --color-dark-red: #FF8A80;
  --color-dark-red-100: #FF7961;
  --color-dark-red-200: #FF6E40;
  --color-dark-red-300: #FF6B6B;
  --color-dark-red-400: #FF5252;
  --color-dark-red-500: #FF3D3D;
  --color-dark-red-600: #D84343;
  --color-dark-red-700: #D32F2F;
  --color-dark-red-800: #C62828;

  --color-dark-gray-400: #121212;
  --color-dark-gray-300: #1E1E1E;
  --color-dark-gray-200: #2D2D2D;
  --color-dark-gray-100: #3A3A3A;


  --breakpoint-3xl: 120rem;
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

/* Cor padrão das setas */
.slick-arrow.slick-prev::before, .slick-arrow.slick-next::before {
  color: #000000; /* Cor preta para as setas */
}

/* Cor das setas ao passar o mouse */
.slick-arrow.slick-prev:hover::before, .slick-arrow.slick-next:hover::before {
  color: #e02d2d; /* Cor vermelha ao passar o mouse */
}

/* Cor das setas ao passar o mouse */
.slick-prev:hover::before, .slick-next:hover::before {
  color: #FF0000; /* Cor vermelha ao passar o mouse */
}

/* Loader - Frigideira */

.loader {
  position: relative;
  width: 120px;
  height: 14px;
  border-radius: 0 0 15px 15px;
  background-color: #3e494d;
  box-shadow: 0 -1px 4px #5d6063 inset;
  animation: panex 0.5s linear alternate infinite;
  transform-origin: 170px 0;
  z-index: 10;
  perspective: 300px;
}
.loader::before {
  content: "";
  position: absolute;
  left: calc(100% - 2px);
  top: 0;
  z-index: -2;
  height: 10px;
  width: 70px;
  border-radius: 0 4px 4px 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(#6c4924, #4b2d21),
    linear-gradient(#4d5457 24px, transparent 0),
    linear-gradient(#9f9e9e 24px, transparent 0);
  background-size: 50px 10px, 4px 8px, 24px 4px;
  background-position: right center, 17px center, 0px center;
}
.loader::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  z-index: -2;
  transform: translate(-50%, -20px) rotate3d(75, -2, 3, 78deg);
  width: 55px;
  height: 53px;
  background: #fff;
  background-image: radial-gradient(circle 3px, #fff6 90%, transparent 10%),
    radial-gradient(circle 12px, #ffc400 90%, transparent 10%),
    radial-gradient(circle 12px, #ffae00 100%, transparent 0);
  background-repeat: no-repeat;
  background-position: -4px -6px, -2px -2px, -1px -1px;
  box-shadow: -2px -3px #0002 inset, 0 0 4px #0003 inset;
  border-radius: 47% 36% 50% 50% / 49% 45% 42% 44%;
  animation: eggRst 1s ease-out infinite;
}

@keyframes eggRst {
  0%,
  100% {
    transform: translate(-50%, -20px) rotate3d(90, 0, 0, 90deg);
    opacity: 0;
  }
  10%,
  90% {
    transform: translate(-50%, -30px) rotate3d(90, 0, 0, 90deg);
    opacity: 1;
  }
  25% {
    transform: translate(-50%, -40px) rotate3d(85, 17, 2, 70deg);
  }
  75% {
    transform: translate(-50%, -40px) rotate3d(75, -3, 2, 70deg);
  }
  50% {
    transform: translate(-55%, -50px) rotate3d(75, -8, 3, 50deg);
  }
}
@keyframes panex {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
