@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

body {
  font-family: var(--font-body);
}

@theme {
  /* Fonts */
  --font-heading: "Poppins", sans-serif;
  --font-logo: "Protest Riot", serif;
  --font-body: "Open Sans", serif;
  --font-quicksand: "Quicksand", sans-serif;

  /* Colors */
  --color-beige-500: #F6EED9;
  --color-beige-600: #F5F5DC;
  --color-red-500: #CD533B;
  --color-olive-500: #646F4B;
}
